<!DOCTYPE html>
<%- include('../header.ejs', { user: user }) %>
<html>
  <head>
    <title>User Profile</title>
  </head>

  <body>
    <h1>User Profile</h1>
    <p>Welcome, <%= username %>!</p>
    <p>Email: <%= email %></p>
    <p>Role: <%= role %></p>
    <a href="/profile/edit">Edit Profile</a>
    <% if(error==='userOrEmailExists' ){ %>
    <p style="background-color: red; color: white; text-align: center">
      Error: User or email already exists! Please try again.
    </p>
    <% } %>
  </body>
</html>
