<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }
    div {
      margin-top: 30px;
    }

    h1 {
      color: #333;
    }

    a {
      text-decoration: none;
      color: #007BFF;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
  <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>

<body>
  <div>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
  </div>
</body>

</html>