<%-include ('header.ejs')%>
<!-- <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css"> -->
<div class="container">
  <h1>Maybe a Tutor Platform! (if i can make this website fast enough)</h1>
  <p>all pray before our lord and savior htmx</p>
</div>
