<%-include('../header.ejs')%>
<div class="container">
  <h1>Admin Dashboard</h1>
  <p>Welcome, <%=user.username%> !</p>
  <p>You are logged in as an admin.</p>
  <ul>
    <li><a href="/admin/users">Manage Users</a></li>
    <li><a href="/admin/assignments" >Assignments</a></li>
  </ul>
</div>
